<div class="ui text container">
  <h1>Inventory</h1>

  <div class="ui two column grid">
    <div class="column">
      <h3>Sign out:</h3><br>
      <% sign_out = (1..(@count.to_i)).to_a - @signed_out %>
      <% sign_out.each do |i| %>
        <p><%= i %>
          <%= form_tag("/inventories", {class: "ui action input"}) do %>
            <%= hidden_field_tag :number, i %>
            <%= select_tag :employee_out_id, options_from_collection_for_select(Employee.order(:name), :id, :name), {:prompt => "Select Employee", :class => "ui dropdown"} %>
            <%= button_tag "Sign out", :class => "ui button" %>
          <% end %>
        </p>
      <% end %>
    </div>

    <div class="column">
      <h3>Return:</h3><br>
      <% @signed_out.each do |i| %>
        <% inventory = Inventory.where(number: i).last %>
        <p><a href='/inventory/<%= "#{i}" %>'><%= i %></a> -
          <%= inventory.employee_out.name %>
          <%= form_for inventory, :html => {:class => "ui action input"} do |f| %>
            <%= f.collection_select :employee_in_id, Employee.order(:name), :id, :name, {:prompt => 'Select Employee'}, {:class => "ui fluid search dropdown"} %>
            <%= f.button "Sign In", :class => "ui button" %>
          <% end %>
        </p>
      <% end %>
    </div><br>

    <div>
      Returned:<br>
      <% @signed_in.each do |i| %>
        <% inventory = Inventory.where(number: i).last %>
        <%= inventory.number %>
        <%= inventory.employee_out.name %>
        <%= inventory.created_at %>
        <%= inventory.employee_in.name %>
        <%= inventory.updated_at %><br>
      <% end %>
    </div>
  </div>
